.Navbar {
    background-color: #000000;
    margin-top: 40px;
    height: 50px;
    z-index: 1;
    justify-content: flex-end;
  }

.NavBarlink, .NavBarlink:hover {
  text-decoration: none;
  text-align: right;
  color: white;
  margin-right: 20px;
}

.imagediv {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 72px;
  top: 1px;
  filter: drop-shadow(0px 14px 24px rgba(0, 0, 0, 0.1));
  z-index: 2;

}

.textcontainer {
  float: right;
  text-align: right;
  /* margin-bottom: 50px; */
  /* height: 200px; */
  /* padding-top: 100px */
}

.quotesection {
  /* position: fixed; */
  display: flex;
  flex-flow: column;
  margin-top: 100px;
  z-index: 2;
}

.text {
  margin-left: 25px;
  font-size: 18px; 
  float: bottom;
  /* margin-right: 25px; */
}

button {
  margin-right: 25px;
  background-color: #B10006;
  color: white;
  padding: 15px;
  font-size: 18px;
  /* width: 150px; */
  /* height: 150px; */
  border: #B10006;
  border-radius: 25px;
}