.App {
  text-align: center;
  /* overflow: scroll; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display:flex;
  height: 40px;
  width: 40px;
  background-color:rgba(0, 0, 0, 0.5);
  background-size: 100%, 100%;
  background-image: none; 
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon:after
{
  font-family: "Material Icons";
  content: "chevron_left";
  font-size: 40px;
  font-weight: 300;
  color: white;
}

.carousel-control-next-icon:after
{ 
  font-family: "Material Icons";
  content: "chevron_right";
  font-weight: 300;
  font-size: 40px;
  color: white;
}


img{
  max-width: 100%;
}

body{
  min-height: 100vh;
  /* overflow: scroll; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
